<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>umbau school</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="top" class="page">
    <header class="main-title">
      <h1 class="site-name">
        <a href="#top">u</a><!--
          --><span class="letter">m</span><!--
          --><span class="letter">b</span><!--
          --><span class="letter">a</span><!--
          --><span class="letter">u</span>
      </h1>

      <div class="tag-wrap">
        <p class="tag">
          umbau is a school <br>of
          <span
            data-words="['architecture', 'thought', 'sustainability', 'design', 'transformation']"
          >architecture</span>.

          <span class="sr-only"><br>umbau is a school of thought.</span>
          <span class="sr-only"><br>umbau is a school of sustainability.</span>
          <span class="sr-only"><br>umbau is a school of design.</span>
          <span class="sr-only"><br>umbau is a school of transformation.</span>
        </p>
      </div>
    </header>
    
    <a class="menu-trigger" href="#menu">
      <span class="sr-only">Jump to main menu</span>
    </a>

    <main>
      {{ content }}
    </main>

    <nav id="menu" class="main-menu">
      <ul>
        <li><a href="#">Healing Architecture</a></li>
        <li><a href="#">Studios</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <script src="main.js"></script>
</body>
</html>
